.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
.terraform.lock.hcl
override.tf
override.tf.json

# Ignorar la carpeta de resultados
results.xml/

# Ignorar el script de Python
format_results.py

distribucion_failures.txt
results.xml/*.xml